<!DOCTYPE html>
<html>

  <body background="BingWallpaper-2015-10-05.jpg">

    <center>
      <div>
	<font size="7">
	  <b style="color: white">Wiki Search Tool</b>	  
	</font>
	<form action="search" method="post">
	  <input class="inputS" name="line">
	  <button class="buttonS">Submit</button>
	</form>
      </div>
    </center>
  </body>


  <style>
    .inputS{
    width: 500px;
    height: 50px;
    font-size: 24px;
    }

    .buttonS{
    width: 100px;
    height: 50px;
    background: white;
    }
    
    div {
    height: 400px;
    width: 800px;
    background: transperent;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -400px;
    }

    legend {
    width: 100px;
    height: 100px;
    overflow: hidden;
    size: 10
    }
    }
  </style>
</html>
