<!DOCTYPE html>
<html>

  <body background="BingWallpaper-2015-10-05.jpg">
      
    <div>    

	<a href="https://en.wikipedia.org/wiki/Xkcd">
	  <p class="padding">xkcd</p>
	</a>
	<a href="https://www.google.com/">
	  <p class="padding">Google</p>
	</a>

    </div>

  </body>


  <style>
    p.padding {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    }

    div {
    position: fixed;
    height: 80%;
    width: 80%;
    background: rgba(255, 255, 255, 0.75);
    
    top: 10%;
    left: 10%;
    }

    legend {
    width: 100px;
    height: 100px;
    overflow: hidden;
    size: 10
    }

    title {
    margin-left: 0;
    }
  </style>
</html>
